html{
  background-color: black;
}
header {
    background-image:url("../images/header-image.png");
    background-size: contain;
    height: 425px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-color: black;
    border-style: double;
    border-width: 35px;
    border-color: #26b270;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #black;
}

header ul li{
  display:inline;
}
header li {
  border-color: #26b270;
  border-width: 6px;
  border-style: dotted;
}
header li a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;

}

/* Change the link color on hover */
header li a:hover {
  background-color: #555;
  color: white;
}
body{
  background-color: #cecece;
  margin: 50px;
}
footer{
  background-color: white;
  padding-bottom: 70px;
}

button{
  background-color: #26b270;
}
.buttonSection{
  background-color: white;
  padding: 50px;
  text-align: center;

}
.experts-content{
  margin-left: 20%;
  margin-right: 20%;

}
.experts-content img {
  width: 20%;
  border-radius: 40px;
  border-width: 10px;
  border-style: inset;

}

}
h1{
  font-family: 'Teko', sans-serif ;
  font-size: 30px;
  text-align: left;
}
.top h1 {
  margin-left: 20%;
  margin-right: 20%;
}
