html{
  background-color: black;
}
header {
    background-image:url("../images/header-image.png");
    background-size: contain;
    height: 425px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-color: black;
    border-style: double;
    border-width: 35px;
    border-color: #26b270;
}

header ul {
  margin: 0;
  padding: 0;
  background-color: #black;
  margin-top: 34%;
  display: flex;
  justify-content: center;
}

header ul li{
  display:inline;
}
header li {
  border-color: #26b270;
  border-width: 6px;
  border-style: none;
}
header li a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;

}
/* Change the link color on hover */
header li a:hover {
  background-color: #555;
  color: white;
}
body{
  background-color: #cecece;
  margin: 50px;
}
footer{
  background-color: white;
  padding-bottom: 70px;
}

button{
  background-color: #26b270;
}

.intro-portion{
  margin-right: 20%;
  margin-left: 20%;
}
.intro-portion ul{
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#leftList{
display: inline-block
}
#rightList{
  display: inline-block;
  float: right;
}
button:hover {
  background-color: white;
  color:  #26b270;
  border-color:  #26b270;
}

.buttonSection{
  background-color: white;
  padding: 50px;
  text-align: center;
}
.experts-content{
  margin-left: 15%;
  margin-right: 15%;
}
.experts-content img {
  width: 15%;
  border-radius: 40px;
  border-width: 10px;
  border-style: inset;
}
.experts-content a {
  display: flex;
  align-items: center
}
.experts-content p {
  text-align: end;
}
.listItems li{
margin-top: 20px;
}
.experts-content article{
  display: flex;
  flex: row;
  padding: 10px;
  margin-top: 10px;
}
#top-button{
  border-radius: 20px;
  width: 160px;
  padding: 25px;
}
h1{
  font-family: 'Oxanium', sans-serif;
  font-size: 30px;
  text-align: center;
}
h2{
  text-align: center;
  font-family: 'Barlow',sans-serif;
}
p{
  font-family: 'Barlow',sans-serif;
}
article h2 {
  padding: 2%
}
article li{
  padding: 12%;
  text-align: left;
}
article img{
  padding: 1%;
}
article p {
  padding: 1%;
}
@media only screen and (max-width: 1240px){

  header{
    margin: auto;
    background-size: cover;
    height: 185px;
  }

  header ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  header ul li {
    margin-top: 15px;
    height: 10px;
    position: fixed;
  }
  header a {
    font-size: 15px;
  }
  #leftList{
    margin-top: -15px;
  }

  article{
    display: flex;
    flex-direction: column;
  }

  article img {
    margin: auto;

  }
  article a {
    text-align: right;
    display: flex;
    justify-content: flex-end
  }

  .listItems{
    display: flex;
    flex-direction: column;
  }
  .experts-content img {
    width: 50%;
    border-width: 7%;
    border-color: #4f4f6f;

  }
}
